<template>
  <div class="<%= data.name %>">
  </div>
</template>

<script>
  export default {
    components: {},
    data() {
      return {}
    },
    mixins: [],
    created() {},
    mounted() {},
    methods: {},
    computed: {}
  }
</script>

<style scoped>
.<%= data.name %> {

}
</style>